@charset="UTF-8";

body { margin: 0; cursor: default; }
a {	text-decoration: none; color: black; cursor: default;	}

.flexbox {
	display: flex;
	align-items:center;
	justify-content:center;
	align: center;
}

.outer-container {
	flex: 1;
	width: 100%;
	text-align: center;	
	letter-spacing: -1px;
}

.header-title {
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -6px;	
}

.header-subtitle {
	color: #aaaaaa;
	font-family: 'times new roman';
	font-size: 20px;
	font-style: oblique;
	letter-spacing: 10px;
	line-height: 100%;
}

.table-container {
	border: 1px solid grey;
	border-radius: 10px;
	max-width: 1400px;
	padding: 30px 30px 30px 30px;
	margin-top: 30px;	
}
.reply {
	color: #d81f52;
	font-size: 11px;
	font-weight: 900;
}

.little {
	font-size: 11px;
}
.little > td {
	padding: 5px 0px 5px 0px;
}

hr {
	color: #cccccc;
	width: 400px;
	 border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

table { border-collapse: collapse;	}

th {
	border-bottom: 1px dashed grey;
	padding: 10px 0px 10px 0px;
	margin-bottom: 20px;
}

td {
	padding: 15px 0px 15px 0px;
}

tr:hover td {
	background-color: #eaeaea;
}
